html, body {
  font: 100% Helvetica, sans-serif;
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  border: 0; }

.header, .content, .footer {
  padding: 10px; }

.header {
  background-color: #f1f1f1; }
  .header h1 {
    margin: 5px; }
  .header a {
    text-decoration: none;
    color: black; }
    .header a:hover {
      text-decoration: underline; }
  .header ul.nav {
    list-style-type: none;
    padding: 0; }
  .header li {
    font-size: 120%;
    display: inline;
    margin: 5px; }

.footer {
  background-color: #f1f1f1; }
