html, body {
  font: 300 100% Helvetica Neue, sans-serif;
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  border: 0; }

a {
  color: #0077cc;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:visited {
    color: #4a6b82; }

.header, .content, .footer {
  padding: 10px; }

.content, .header > *, .footer > * {
  max-width: 700px;
  margin: 0 auto; }

.content {
  line-height: 1.6; }
  .content blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019"; }

.post {
  font-family: Computer Modern; }

.header {
  background-color: #f1f1f1; }
  .header a {
    text-decoration: none;
    color: black; }
    .header a:hover {
      text-decoration: underline; }
  .header ul.nav {
    list-style-type: none;
    padding: 0; }
  .header li {
    font-size: 120%;
    display: inline;
    text-transform: lowercase; }

.footer {
  background-color: #f1f1f1; }
