<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Instapaper: Export</title>
	</head>
	<body>
		<ol>
			<li><a href="http://www.slantmagazine.com/house/2011/10/what-just-happened-the-pale-king/">What Just Happened: The Pale King | The House Next Door</a></li>
			<li><a href="http://prospect.org/article/best-david-foster-wallace">The Best of David Foster Wallace</a></li>
			<li><a href="http://creativegood.com/blog/the-google-glass-feature-no-one-is-talking-about/">The Google Glass feature no one is talking about &mdash; Creative Good</a></li>
			<li><a href="http://opinionator.blogs.nytimes.com/2013/03/04/the-last-all-nighter/?hp">Adderall Addiction: The Last All-Nighter - NYTimes.com</a></li>
			<li><a href="http://calnewport.com/blog/2011/11/11/if-youre-busy-youre-doing-something-wrong-the-surprisingly-relaxed-lives-of-elite-achievers/">Study Hacks &raquo; Blog Archive &raquo; If You&rsquo;re Busy, You&rsquo;re Doing Something Wrong: The Surprisingly Relaxed Lives of Elite Achievers</a></li>
			<li><a href="http://thoughtcatalog.com/2011/no-ones-real-anymore/">No One&rsquo;s Real Anymore | Thought Catalog</a></li>
			<li><a href="http://tobi.lutke.com/the-apprentice-programmer">The Apprentice Programmer | too-biased by Tobi L&uuml;tke</a></li>
			<li><a href="http://www.bbc.co.uk/news/magazine-21619765">BBC News - How to get along for 500 days alone together</a></li>
			<li><a href="http://fighttheurgetofade.com/">I'm a shut-in. This is my story.</a></li>
			<li><a href="http://www.slate.com/articles/arts/culturebox/2011/04/infinite_attention.html">David Foster Wallace and the problem of being bored. - Slate Magazine</a></li>
			<li><a href="http://matt.might.net/articles/work-life-balance/">Tips for work-life balance</a></li>
			<li><a href="http://www.theatlantic.com/national/archive/2013/01/why-parents-need-to-let-their-children-fail/272603/">Why Parents Need to Let Their Children Fail - Jessica Lahey - The Atlantic</a></li>
			<li><a href="http://opinionator.blogs.nytimes.com/2013/01/05/diary-of-a-creep/">Diary of a Creep - NYTimes.com</a></li>
			<li><a href="http://www.bostonmagazine.com/articles/2012/10/mit-important-university-world-harvard/">How MIT Became the Most Important University in the World</a></li>
			<li><a href="http://www.theatlantic.com/technology/archive/2012/11/noam-chomsky-on-where-artificial-intelligence-went-wrong/261637/?single_page=true">Noam Chomsky on Where Artificial Intelligence Went Wrong - Yarden Katz - The Atlantic</a></li>
			<li><a href="http://blogs.hbr.org/cs/2012/06/what_captures_your_attention_c.html">What Captures Your Attention Controls Your Life - Kare Anderson - Harvard Business Review</a></li>
			<li><a href="http://www.randsinrepose.com/archives/2012/05/09/two_universes.html">Rands In Repose: Two Universes</a></li>
			<li><a href="http://pandodaily.com/2012/05/05/nobody-seems-to-understand-what-jeff-bezos-is-doing-does-he/">Nobody Seems to Understand What Jeff Bezos is Doing. Does He? | PandoDaily</a></li>
			<li><a href="http://joelonsoftware.com/articles/LeakyAbstractions.html">The Law of Leaky Abstractions - Joel on Software</a></li>
			<li><a href="http://joelonsoftware.com/articles/fog0000000356.html">The Iceberg Secret, Revealed - Joel on Software</a></li>
			<li><a href="http://joelonsoftware.com/articles/fog0000000043.html">The Joel Test: 12 Steps to Better Code - Joel on Software</a></li>
			<li><a href="http://joelonsoftware.com/articles/fog0000000056.html">Strategy Letter I: Ben and Jerry's vs. Amazon - Joel on Software</a></li>
			<li><a href="http://jmtame.posterous.com/this-is-how-you-actually-teach-people-to-prog">This is how you actually teach people to program - jared tame</a></li>
			<li><a href="http://www.codinghorror.com/blog/2012/05/trust-me-im-lying.html">Coding Horror: Trust Me, I'm Lying</a></li>
			<li><a href="http://petersobot.com/blog/startups-bands-for-hackers/">Startups: Bands for Hackers - Peter Sobot</a></li>
			<li><a href="http://youarenotsosmart.com/2012/04/17/ego-depletion/">Ego Depletion &laquo; You Are Not So Smart</a></li>
			<li><a href="http://www.nytimes.com/2012/04/24/opinion/brooks-the-creative-monopoly.html?_r=2">The Creative Monopoly - NYTimes.com</a></li>
			<li><a href="http://blogs.hbr.org/cs/2012/03/choosing_between_making_money.html?goback=.gde_26417_member_107582484">Choosing Between Making Money and Doing What You Love - Leonard A. Schlesinger, Charles F. Kiefer, and Paul B. Brown - Harvard Business Review</a></li>
			<li><a href="http://www.marcandangel.com/2012/01/29/20-things-to-start-doing-in-your-relationships/">20 Things to Start Doing in Your Relationships</a></li>
			<li><a href="http://www.psychologytoday.com/blog/tracking-wonder/201005/wonder-talk-how-open-instead-size">Wonder-Talk: How to Open Up Instead of Size Up | Psychology Today</a></li>
			<li><a href="http://thenewinquiry.com/features/why-we-love-sociopaths/">Why We Love Sociopaths &ndash; The New Inquiry</a></li>
			<li><a href="http://www.npr.org/blogs/monkeysee/2011/04/21/135508305/the-sad-beautiful-fact-that-were-all-going-to-miss-almost-everything">The Sad, Beautiful Fact That We're All Going To Miss Almost Everything : Monkey See : NPR</a></li>
			<li><a href="http://blogs.nature.com/a_mad_hemorrhage/2012/04/02/ceos-and-the-candle-problem">CEOs and the Candle Problem - A Mad Hemorrhage Blog | Nature Publishing Group</a></li>
			<li><a href="http://blogs.msdn.com/b/jw_on_tech/archive/2012/03/13/why-i-left-google.aspx">Why I left Google - JW on Tech - Site Home - MSDN Blogs</a></li>
			<li><a href="http://www.fastcompany.com/1820974/buyology-martin-lindstrom-global-happiness">How To Be Happy Anywhere | Fast Company</a></li>
			<li><a href="http://swizec.com/blog/why-programmers-work-at-night/swizec/3198">A geek with a hat &raquo; Why programmers work at night</a></li>
			<li><a href="http://www.wired.com/wiredscience/2011/10/why-do-some-people-learn-faster-2/">Why Do Some People Learn Faster? | Wired Science&nbsp;| Wired.com</a></li>
			<li><a href="http://gizmodo.com/5843117/scientists-reconstruct-video-clips-from-brain-activity">Scientists Reconstruct Brains' Visions Into Digital Video In Historic Experiment</a></li>
		</ol>
	</body>
</html>