$font: Helvetica, sans-serif;

$primary-color: #ffffff;
$secondary-color: #000000;
$tertiary-color: #f1f1f1;

$padding: 10px;

// Reset User-Agents etc.
html, body {
	font: 100% $font;
	color: $secondary-color;
	background-color: $primary-color;
	margin: 0;
	padding: 0;
	border: 0;
}

.header, .content, .footer {
	padding: $padding;
}

.content, .header > *, .footer > * {
	width: 700px;
	margin: 0 auto;
}

.header {
	background-color: $tertiary-color;

	a {
		text-decoration: none;
		color: $secondary-color;
		&:hover {
			text-decoration: underline;
		}
	}

	ul.nav {
		list-style-type: none;
		padding: 0;
	}

	li {
		font-size: 120%;
		display: inline;
		text-transform: lowercase;
	}
}

.footer {
	background-color: $tertiary-color;
}