$font: Helvetica Neue, sans-serif;

$primary-color: #ffffff;
$secondary-color: #000000;
$tertiary-color: #f1f1f1;
$link-color: #07c;
$visited-link-color: #4a6b82;

$padding: 10px;

@mixin rounded-corners {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

// Reset User-Agents etc.
html, body {
	font: 300 100% $font;
	color: $secondary-color;
	background-color: $primary-color;
	margin: 0;
	padding: 0;
	border: 0;
}

a {
	color: $link-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:visited {
		color: $visited-link-color;
	}
}

.header, .content, .footer {
	padding: $padding;
}

.content, .header > *, .footer > * {
	max-width: 700px;
	margin: 0 auto;
}

.content {
	line-height: 1.6;

	blockquote {
	  background: #f9f9f9;
	  border-left: 10px solid #ccc;
	  margin: 1.5em 10px;
	  padding: 0.5em 10px;
	  quotes: "\201C""\201D""\2018""\2019";
	}
}

.header-blog {
	> * {
		display: inline;
	}

	a {
		float: right;
	}
}

ul.posts {
	list-style-type: none;
	padding: 0;

	h2 {
		font-size: 1.25em;
		margin: 0;
	}
}

li.post-let {
	background-color: $tertiary-color;
	padding: $padding;
	margin: 10px;
	@include rounded-corners;
}

.excerpt {
	padding: 0 5% 0 5%;
}

.post {
	font-family: Computer Modern;
}

.header {
	background-color: $tertiary-color;

	a {
		text-decoration: none;
		color: $secondary-color;
		&:hover {
			text-decoration: underline;
		}
	}

	ul.nav {
		list-style-type: none;
		padding: 0;
	}

	li {
		font-size: 120%;
		display: inline;
		text-transform: lowercase;
	}
}

.footer {
	background-color: $tertiary-color;
}