<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} | {{ site.name }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" >
        {% if page.description %}
        <meta name="description" content="{{ page.description }}">
        {% elsif page.excerpt %}
        <meta name="description" content="{{ page.excerpt | strip_html }}">
        {% else %}
        <meta name="description" content="{{ site.description }}">
        {% endif %}

        <link rel="stylesheet" href="/styles/normalize.css">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/feed.xml">

    </head>
    <body>

      <div class="header">
        <a class="title" href="/">{{ site.name }}</a>
        <ul class="nav">
          {% for p in site.pages %}
            {% if p.layout == "none" %}
              {% continue %}
            {% endif %}
            <li>
              <!-- Activate tab if the url matches or if tab is blog and page is a post -->
              <a
                {% if p.url == page.url or p.title == "Blog" and page.id %} class="active" {% endif %} 
                href="{{p.url}}">{{p.title}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="content">
        {{ content }}
      </div>

      <div class="footer">
        <div class="contact">
          <p>
            Colin Chang<br />
            Seattle, WA<br />
            colinichang at gmail dot com
          </p>
        </div>
        <div class="contact">
          <ul>
          {% for handle in site.data.handles %}
            <li><a target="_blank" href="{{ handle.url }}">{{ handle.name }}</a><br /></li>
          {% endfor %}
          </ul>
        </div>
      </div>
      <script src="/scripts/google-analytics.js" async></script>
      <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    </body>
</html>
