---
layout: none
---

/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
    --body-bg: #f4f4f4;
    --body-color: #333333;
    --link-color: #0066b2;
    --visited-link-color: #7f4982;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #1e1e1e;
    --body-color: #eaeaea;
    --link-color: #3399ff;
    --visited-link-color: #b066b0;
  }
}

html,
body {
  font-family: Verdana;
  background: var(--body-bg);
  color: var(--body-color);
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: var(--visited-link-color);
  }
}

.content {
  padding: 10px;
  line-height: 1.5;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-top: 10px;
}

.home > * {
  margin: 0;
}
